/* masonry */
.masonry {
}
.relative{
    position: relative;
}

.margin-top-2{
    position: absolute;
    top: 240px;
    left: 0;
}


.masonry-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 240px;
    grid-auto-flow: dense;
    gap: 20px;
}

.masonry-item {
}

.tall {
    grid-row: span 2;
}

.big {
    grid-row: span 2;
    grid-column: span 2;
}

.width {
    grid-column: span 2;
}

.masonry-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.mySlides {
    flex: 0 0 100%;
    width: 100%;
    height: 500px;
}

.slides-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    margin-top: -330px;
    margin-left: 20px;
}

.slide-heading {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}

.slide-banner {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 900;
}

.slide-text {
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.slide-text__span {
    margin-top: 3px;
    font-size: 1.4rem;
}

.slide-text__high {
    font-style: 1.4rem;
    font-weight: 700;
    margin-right: 10px;
}

.slide-btn {
    background-color: #222;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    font-weight: 700;
}

.slide-btn:hover {
    opacity: 0.8;
}

.masonry-item__inner {
    margin-top: -220px;
    margin-left: 20px;
}

.masonry-item__heading {
    font-weight: 700;
    font-size: 2rem;
}

.masonry-item__desc {
    width: 180px;
    font-size: 1.8rem;
}

.masonry-item__btn {
    display: inline-block;
    margin-top: 20px;
    font-weight: 700;
    color: #000;
}
.color-white {
    color: white;
}

/* service */
.service {
}

.service-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin: 50px 0;
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.service-item__decor {
    height: 38px;
    width: 1px;
    background: #ccc;
    top: 0;
    left: 300;
}

.service-item__img {
    width: 40px;
}

.service-item__info {
    margin-left: 10px;
}

.service-item__heading {
    font-size: 1.5rem;
}

.service-item__desc {
    font-size: 1.4rem;
}

/* product */

.featured-product__heading {
    text-align: center;
    margin-top: 50px;
}

.product {
}

.product-list {
    padding: 0;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.product-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product-item__section {
}

.product-img {
    margin-top: 10px;
    height: 190px;
    width: 270px;
    background: #000;
    background: cover;
    border-radius: 10px;
}

.product-heading {
    margin-top: 10px;
    text-align: center;
    width: 215px;
    font-size: 1.4rem;
    color: #666;
}

.product-price {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.6rem;
}

.product-rate {
    margin-top: 5px;
}

.product-label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
    color: #f2f2f2;
    border-radius: 3px;
    padding-bottom: 3px;
    top: 17px;
    left: 22px;
}

.product-label__new {
    background: #4caf50;
}

.product-label__hot {
    background: orange;
}

.product-label__discount-10,
.product-label__discount-5 {
    background: #ff0000;
}

.hideContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    z-index: 10;
    background: pink;
    display: none;
}
